DATABASE_URL=postgresql://watchdog:watchdog_dev@localhost:5432/manspy
REDIS_URL=redis://localhost:6379
MANTLE_RPC_WSS=wss://wss.mantle.xyz
TELEGRAM_BOT_TOKEN=
GEMINI_API_KEY=
COINGECKO_API_KEY=
BOT_DOMAIN=
PRIVATE_KEY=
CONTRACT_ADDRESS=0xBefF514A396A4c500d6C15fEF536875Ff9f22711
